.open-form-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #57428a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.open-form-button:hover {
    background-color: #402a72;
}

.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-song-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; 
    padding: 20px;
    background-color: #7565A3; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.add-song-form h2 {
    margin-bottom: 15px;
}

.add-song-form form {
    display: flex;
    flex-direction: column;
}

.add-song-form form div {
    margin-bottom: 10px;
}

.add-song-form input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
}

.add-song-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #57428a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.add-song-form button[type="button"] {
    background-color: #ccc;

}

.add-song-form button:hover {
    background-color: #402a72;
}

