.edit-playlist-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background-color: #7565A3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-playlist-form h2 {
    margin-bottom: 15px;
    color: white;
}

.edit-playlist-form form {
    display: flex;
    flex-direction: column;
}

.edit-playlist-form form div {
    margin-bottom: 10px;
}

.edit-playlist-form label {
    color: white;
    margin-bottom: 5px;
}

.edit-playlist-form input,
.edit-playlist-form select,
.edit-playlist-form textarea {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.edit-playlist-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #57428a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.edit-playlist-form button[type="button"] {
    background-color: #ccc;
}

.edit-playlist-form button:hover {
    background-color: #402a72;
}
